.container {
    display: block;
    background-color: #65e2dc;
    padding-top: 20px;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
}

.container h1 {
    text-align: center;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.aboutContainer .text {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.text p {
    padding-top: 60px;
    color: rgb(3, 3, 3);
    width: 50%;
    font-weight: bold;
}



@media (max-width: 1250px) {
    .skillsList {
        flex-wrap: wrap;
    }

    .skillsList li {
        flex-basis: 25%;
    }

    .skillsList .icon {
        border: none;
    }
}