 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

 .container {
     display: block;
     background-color: #2d3047;
     padding-top: 5px;
     height: 450px;
     margin-top: -5px;
 }

 .container h1 {
     text-align: center;
     color: #ffffff;
 }

 .aboutContainer {
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 0px;
 }

 .aboutContainer .text {
     display: flex;
     justify-content: center;
     font-size: 1rem;
     font-weight: normal;

 }

 .text p {
     padding-top: 25px;
     color: #ffffff;
     width: 60%;
     height: auto;
     font-weight: 500;
 }



 @media (max-width: 1250px) {
     .skillsList {
         flex-wrap: wrap;
     }

     .skillsList li {
         flex-basis: 25%;
     }

     .skillsList .icon {
         border: none;
     }

     .text p {
         color: #ffffff;
         width: auto;
         height: auto;
         font-weight: 500;
     }

 }