 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
.header{
    display: flex;
        align-items: center;
        justify-content: center;
        height: 86vh;
        background-color: #292C35;
}
 .container {
     display: flex;
    background-color: #292C35;
     min-height: 50px;
     justify-content: center;
     align-items: center;
     padding: 0 20px;
     overflow: hidden;
     position: relative;
 }

 /* Text */
 .container .textbox {
     width: 600px;
     padding: 20px;
     text-align: center;
     z-index: 1;
     color: #fff;
 }

 .container .textbox h2 {
     font-size: 2.5rem;
    
 }


 .container .textbox p {
     font-size: 1.5rem;
     margin: 10px 0;
    color: #fff;
 }

 .container .textbox a {
     display: inline-block;
     flex-basis: 20%;
     padding: 10px 30px;
     margin: 5px;
     border: 3px #198be8 solid;
     background-color: #439bee;
     color: #ffffff;
     text-decoration: none;
     font-weight: bold;
 }

 .container .textbox a:last-child {
     border: 3px #198be8 solid;
     background-color: #fff;
     color: #439bee;
     font-weight: bold;
 }


 .container .textbox a:hover {
     background-color: #6cb8ff;
     transition: all .5s ease-out;
 }

 .container .textbox a:last-child:hover {
     background-color: #d1d1d1;
     transition: all .5s ease-out;
 }

 /* Images */
 .container .bgimg {
     max-width: 1000px;
     overflow: hidden;
     margin-top: 8%;

 }

 .container .bgimg img {
     width: 100%;
 }

 .bgimgcolor {
     height: auto !important;
     position: relative;
     top: 10px;
     left: 80px;
 }

 /* Wave separator */
 .wave {
     position: absolute;
     bottom: 0;
     left: 0;
     color: white;
     width: 100%;
     height: 450px;
     background-repeat: repeat-x;
     border-bottom: rgb(255, 255, 255) 1px solid;
     nav-index: auto;
 }


 /* -----Responsive----- */
 @media (max-width: 1250px) {

     .container {
         flex-direction: column;
     }

     .container .textbox {
         width: 100%;
         max-width: 450px;
         text-align: center;
     }

     .container .textbox a {
         display: block;
     }

     .container .bgimg {
         max-width: 400px;
     }

 }
 .Typewriter{
    font-family: sans-serif;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
 }