.container {
    background-color: #2d3047;
    width: 100%;
    margin-top: -25px;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}

.skillsec {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #fff;
}

.skillsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
}

.skillsList li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px;
    margin: 3.5px;

    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;

}

.skillsList li:hover {
    transform:
        translate3d(0px, -16px, 0px) rotateX(2deg) rotateZ(2deg);
    box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgba(34, 33, 81, 0.01),
        54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.skillsList img {
    width: 100px;
    height: 100px;
    padding: 10px;
}


@media (max-width: 1060px) {

    .skillsList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0px;
        padding: 5%;
    }

    .skillsList li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px;
        margin: 2px;

        transform: perspective(1500px) rotateY(15deg);
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        transition: transform 1s ease 0s;

    }

    .skillsList img {
        width: 50px;
        height: 50px;
        padding: 1px;
    }
}